h1 h2 h3 h4 h5 h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

body {
	font-family: 'Barlow', sans-serif;
}

#loginForm {
	margin: 10%;
}

#registerForm {
	margin: 10% 0 0 45%;
}

.navbar-custom {
	color: #EAB595;
	background-color: #D87F81;
}