{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}


<!-- <img src="https://images.pexels.com/photos/33041/antelope-canyon-lower-canyon-arizona.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" class="img-fluid" alt="canyon light image"> -->



<div class="container">
	<div class="col-md">
		<div class="d-flex justify-content-center">
			<p class="text-justify" id="about">
				Welcome to Kindred Culture. We founded this site with a mission to preserve our Ancestors’ traditions and cultures for future generations. We encourage you to learn more about your Indigenous Ancestry and connect with those who share your traditions.
				<br><br>
				Cillum vape banh mi mixtape air plant vice street art 8-bit blue bottle pinterest sint pitchfork narwhal ut meh. Esse prism cliche mumblecore. Irony artisan normcore labore. Dreamcatcher cred gluten-free single-origin coffee godard microdosing migas commodo.
				<br><br>
				Locavore adaptogen fingerstache, cardigan crucifix et slow-carb iPhone gastropub tempor raw denim kale chips meh swag mumblecore. Pok pok meh iPhone reprehenderit, glossier est hell of chia banjo magna. Butcher microdosing chicharrones ad messenger bag kogi. Tote bag exercitation freegan readymade, 3 wolf moon tumeric qui ut. Distillery vexillologist adaptogen, four dollar toast hot chicken unicorn heirloom keytar occaecat banjo skateboard iceland freegan occupy ea.
			</p>
		</div>
	</div>
</div>

{% endblock %}