{% extends 'base.html' %}

{% block title %}Events{% endblock %}

{% block content %}

<!-- event search bar -->

	<!-- <form action="/event-search" method="post" id="eventSearch">
		<div class="form-group">
			<label>Search</label>
			<input type="text" class="form-control" name="event_search" id="eventSearch" placeholder="search events">
		</div>

		<button type="submit" class="btn btn-outline-secondary">Submit</button>
	</form> -->

<!-- list of events -->

	<div class="row" style="margin: 5% 5% 5% 70%;">
		<div class="col-sm">
			<a class="btn btn-secondary btn-lg" href="{{ url_for('new_event_form') }}">Create New Event</a>
		</div>
	</div>

	<h1 style="margin: 0 0 5% 10%;">Upcoming Events</h1>

	{% for event in events %}

		<div style="margin: 0 10% 5% 10%;">
			<h2>{{ event.title }}</h2>
			<h3>{{ event.date }} | {{ event.time }}</h3>
			<h4>{{ event.place }}</h4>
			<p>{{ event.details }}</p>
		</div>

	{% endfor %}



{% endblock %}