{% extends 'base.html' %}

	<style>
		body { margin: 0; padding: 0; }
		#map { position: absolute; top: 0; bottom: 0; width: 100%; }
	</style>
	

{% block content %}

	<h1>Welcome to Kindred Culture</h1>

	<blockquote class="blockquote text-center">
	  <p class="mb-0">When we illuminate the road back to our ancestors, they have a way of reaching out, of manifesting themselves...sometimes even physically.</p>
	  <footer class="blockquote-footer">Raquel Cepeda<cite title="Source Title"></cite></footer>
	</blockquote>

	<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js"></script>
	<link
	rel="stylesheet"
	href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css"
	type="text/css"
	/>

	<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

	<div id='map' style='width: 1100px; height: 500px;'></div>
	<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoiYnNtZWprYWwiLCJhIjoiY2s3ZG0zdWZ6MGVpbjNlcG94OTUyZXdzZSJ9.beCqwACJOxjO_Ax6OZt1AA';
	var map = new mapboxgl.Map({
	    container: 'map',
	    style: 'mapbox://styles/bsmejkal/ck7oy74e92uat1imky060xyh1'
	});

	map.addControl(
		new MapboxGeocoder({
		accessToken: mapboxgl.accessToken,
		mapboxgl: mapboxgl
		})
	);

	map.addControl(new mapboxgl.FullscreenControl());

	</script>

	<form id="select-details" method="post" action="/details">
		<div class="form-group">
			<label>Details</label>
			<select id="tribe-name-field" name="tribe_name">
				<!-- for loop to display all tribe names -->
				{% for tribe in tribes %}
					<option value="{{ tribe.name }}">{{ tribe.name }}
					</option>
				{% endfor %}
			</select>
			<input type="submit">
		</div>
	</form>

	<!-- 	display details here -->
	<div id="show-details">
	</div>

	<script type="text/javascript" src="static/main.js"></script>
{% endblock %}
