{% extends 'base.html' %}

{% block title %}New Event{% endblock %}

{% block content %}

<!-- new event form -->
<div class="container">
	<div class="">
		<form action="/create_event" method="post" id="">
			<div class="form-group row">
				<label>Event Title</label>
				<input type="text" class="form-control" name="title" id="eventTitle" required>
			</div>

			<div class="form-group row">
				<label>Date</label>
				<input type="date" class="form-control" name="date" id="eventDate" required>
			</div>

			<div class="form-group row">
				<label>Time</label>
				<input type="time" class="form-control" name="time" id="eventTime" required>
			</div>

			<div class="form-group row">
				<label>Location</label>
				<input type="text" class="form-control" name="place" id="eventPlace" required>
			</div>

			<div class="form-group row">
				<label>Details</label>
				<textarea class="form-control" name="details" id="eventDetails" required></textarea>
			</div>

			<div class="form-group row">
				<button type="submit" class="btn btn-outline-secondary">Submit</button>
			</div>

		</form>
	</div>
</div>

{% endblock %}